@page
@model GestionCommandeASP.Pages.Order.DetailsModel

@{
    ViewData["Title"] = "Details";
}
<style>
    #outer
{
    width:100%;
    text-align: center;
}
.inner
{
    display: inline-block;
}
#contenu{
    justify-content:center;
}
</style>
<h1>Details</h1>

<div class="contenu">
    <h4>Commandes</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Orders.CustomerID)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Orders.CustomerID)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Orders.EmployeeID)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Orders.EmployeeID)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Orders.OrderDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Orders.OrderDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Orders.RequiredDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Orders.RequiredDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Orders.ShippedDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Orders.ShippedDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Orders.ShipVia)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Orders.ShipVia)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Orders.Freight)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Orders.Freight)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Orders.ShipName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Orders.ShipName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Orders.ShipAddress)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Orders.ShipAddress)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Orders.ShipCity)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Orders.ShipCity)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Orders.ShipRegion)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Orders.ShipRegion)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Orders.ShipPostalCode)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Orders.ShipPostalCode)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Orders.ShipCountry)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Orders.ShipCountry)
        </dd>
    </dl>
</div>
<div id="outer">
  <div class="inner"><a asp-page="./Edit" asp-route-id="@Model.Orders.OrderID"><button class="btn btn-success">Edit</button></a>|

    <a asp-page="./Index"><button class="btn btn-warning">Back to List</button></a></div>
   
</div>
