@page
@model GestionCommandeASP.Pages.Detail.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Details</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Details.OrderID)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Details.OrderID)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Details.productID)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Details.productID)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Details.UnitPrice)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Details.UnitPrice)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Details.Quantity)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Details.Quantity)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Details.Discount)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Details.Discount)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Details.DetailID">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
